<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Issue: <strong><%= @issue.issue_key %></strong></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to 'Back', issues_path, { class: 'btn btn-outline-secondary mr-2'} %>
  </div>
</div>

<%= render 'form', issue: @issue %>

<div class="mb-4">
  <h2 class="h3">Comments (<%= @issue_comments.size %>)</h2>

  <% @issue_comments.each do |comment| %>
    <div class="media">
      <img src="<%= user_gravatar_url(comment.user) %>" class="mr-3" alt="<%= comment.user.email %>">
      <div class="media-body">
        <h5 class="mt-0"><%= comment.user.email %></h5>
        <p><%= comment.comment %></p>

        <p class="small text-muted">Sent at: <%= comment.created_at %>, <%= link_to 'Delete', [@issue, comment], method: :delete, data: { confirm: 'Are you sure?'} %></p>
      </div>
    </div>
  <% end %>

  <% if @issue_comments.empty? %>
    <p class="text-muted">No comments :(</p>
  <% end %>
</div>

<%= render 'comment_form', issue: @issue, issue_comment: @issue_comment %>
