<div class="card mb-4">
  <div class="card-header">
    Latest comments
  </div>
  <% widget.comments.each do |comment| %>
  <div class="card-body border-bottom">
    <h5 class="card-title h6">
      <%= link_to("#{comment.issue.issue_key} - #{comment.issue.name}", issue_path(comment.issue)) %>
    </h5>
    <p class="card-text text-muted mb-1"><%= comment.user.email %>, <%= time_ago_in_words(comment.created_at) %> ago</p>
    <p class="card-text"><%= comment.comment %></p>
  </div>
  <% end %>
</div>
