<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Project: <strong><%= @project.name %></strong></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to 'New Issue', new_issue_path(project_id: @project), { class: 'btn btn-outline-success mr-2'} %>
    <%= link_to 'Edit', edit_project_path(@project), { class: 'btn btn-outline-primary mr-2'} %>
    <%= link_to 'Back', projects_path, { class: 'btn btn-outline-secondary mr-2'} %>
  </div>
</div>

<%= render 'issues/table', issues: @issues %>
