<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to 'Buk issue tracker', root_path, { class: 'navbar-brand col-md-3 col-lg-2 mr-0 px-3' } %>

  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <% if current_user %>
    <%= form_with(url: issues_path, method: :get, data: { remote: false }, class: 'flex-fill') do %>
      <%= search_field_tag(:search, @search_input_value, class: 'form-control form-control-dark w-100', placeholder: 'Search') %>
    <% end %>

    <span class="navbar-text pl-3 pr-3"><%= current_user.email %></span>

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <%= link_to('Sign out', destroy_user_session_path, method: :delete, class: 'nav-link') %>
      </li>
    </ul>
  <%end%>
</nav>
