<!DOCTYPE html>
<html>
  <head>
    <title>Buk issue tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= render('layouts/navbar') %>

  <div class="container-fluid">
    <div class="row">
      <% if current_user %>
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page? root_path %>" href="<%= url_for(root_path) %>">
                  <span data-feather="home"></span>
                  Dashboard
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page? projects_path %>" href="<%= url_for(projects_path) %>">
                  <span data-feather="file"></span>
                  Projects
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= 'active' if current_page? issues_path %>" href="<%= url_for(issues_path) %>">
                  <span data-feather="file"></span>
                  Issues
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <% if notice != nil %><p class="alert alert-info mt-4"><%= notice %></p><% end %>
          <% if alert != nil %><p class="alert alert-warning mt-4"><%= alert %></p><% end %>
          <% if flash[:error] != nil %><p class="alert alert-danger mt-4"><%= flash[:error] %></p><% end %>

          <%= yield %>
        </main>
      <% else %>
        <main class="col">
          <% if notice != nil %><p class="alert alert-info mt-4"><%= notice %></p><% end %>
          <% if alert != nil %><p class="alert alert-warning mt-4"><%= alert %></p><% end %>
          <% if flash[:error] != nil %><p class="alert alert-danger mt-4"><%= flash[:error] %></p><% end %>

          <%= yield %>
        </main>
      <% end %>
    </div>
  </div>

  <script src="https://kit.fontawesome.com/2259a4ee68.js" crossorigin="anonymous"></script>
  </body>
</html>
